
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>



    <meta name="viewport" content="width=device-width" />
    <title>Addf</title>


    <div> <h3> Form flight add</h3>
        <form method="post" action="">
            <table>
                <tr>
                    <td><p>Input FlightId </p></td>
                    <td><input type="text" name="FlightId" />  </td>

                    <td><p>Inp Flight number </p></td>
                    <td><input type="text" name="Flightnum" /> </td>

                </tr>
                <tr>
                    <td><p>Input Airline Name </p></td>
                    <td><input type="text" name="Airline" />  </td>
                </tr>
                <tr><td><input type="submit" value="Отправить" /> </td><td></td></tr>
            </table>
        </form>
</div>


