
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <h1>
        <title>Emergency</title>
    </h1>
</head>
<style>
    body {background :red;}
</style>
<body>
    background-color: red;
    <div> 
    </div>
</body>
</html>
